
*.old
*.new
*.new.py
raw_source/
__pycache__/
.venv/
test/
data/
build/
dist/
*.egg-info/
.env
.env.*
*.pem
*.key
.vscode/
.idea/
*.swp
*.swo
*.log
.dockerignore
.git/
logs/
tests/
app/logman/
app/middleware/
